.home {
    padding: 16px 24px;
}

.products-list-wrapper {
    width: 100%;
    height: 760px;
    overflow-y: auto;
    width: fit-content;
}


/* width */

::-webkit-scrollbar {
    width: 35px;
}

// /* Track */
 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(184, 184, 184);
    border-radius: 20px;
    border: solid 10px transparent;
}

// /* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(184, 184, 184);
    border: solid 10px transparent;
    border-radius: 20px;
}