@font-face {
    font-family: $regular-font;
    src: url(../../fonts/segoe-ui/Segoe_UI_Semibold_600.ttf);
}

@font-face {
    font-family: $light-font;
    src: url(../../fonts/segoe-ui/Segoe_UI_400.ttf);
}

@font-face {
    font-family: $regular-dancingScript-font;
    src: url(../../fonts/dancing-script/DancingScript-Regular.ttf);
}

@font-face {
    font-family: $bold-dancingScript-font;
    src: url(../../fonts/dancing-script/DancingScript-Bold.ttf);
}